name: Test Workflow

on: [push]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Say hello
        run: echo "It works!"

      - name: Show runner OS
        run: echo "Running on ${{ runner.os }}"

      - name: Show repo info
        run: |
          echo "Repository: ${{ github.repository }}"
          echo "Branch ref: ${{ github.ref }}"


